body{
    flex: 1; /* Ocupa todo el espacio disponible */
    text-align: left; /* Alinea el texto a la izquierda */
    padding-right: 20px; /* Espacio a la derecha para separar del lado derecho */
    text-align: center;
    background-color: whitesmoke;
}

header {
    display: flex;
    align-items: center;
    margin-left: 20px; /* Margen a la izquierda */
    margin-right: 20px; /* Margen a la derecha */
    margin-bottom: 50px;
    box-shadow: 20px 15px 20px black;
}

