.tarjetas {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
    gap: 2rem;
    padding: 4rem;
}

.card {
    align-items: center;
}

.card img {
    width: 16rem;
    padding: .5rem;
}